#board-bg {
    font-size: 7px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #bbb;
    border-top: 1px solid #bbb;
}
.line {
    display: flex;
    flex-direction: row;
}
.field {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}
