#score{
    margin: 5px;
}
#score .item{
    background-color: #fff;
    display: flex;
    width:140px;
    margin:5px;
    padding:3px;
    color: #1c2949;
    font-size:11pt;
}
#score .item .label{
    width:65px;
}
#score .item .value{
    text-align: center;
    width:75px;
    font-weight: bold;
}
