/* Snake */
.game-over .snake .head{
    background-color: red !important;
}
.snake .head::before{
    content: " ";
    display:block;
    position:absolute;
}
.snake .head.right::before{
    width:5px;
    top:8px;
    left:0;
    border-top:3px solid #fff;
    border-right:2px solid transparent;
    animation: tongueHorizontalAnim 300ms linear infinite;
}
.snake .head.left::before{
    width:5px;
    top:8px;
    right:0;
    border-top:3px solid #fff;
    border-left:2px solid transparent;
    animation: tongueHorizontalAnim 300ms linear infinite;
}
@keyframes tongueHorizontalAnim {
    0% {border-top-color:#fff;width:5px;}
    50% {border-top-color:#fff;width:0;}
    51% {border-top-color:transparent;}
    99% {border-top-color:transparent;width:0;}
    100% {border-top-color:#fff;width:5px;}
}
.snake .head.top::before{
    height:5px;
    right:8px;
    bottom:0;
    border-right:3px solid #fff;
    border-top:2px solid transparent;
    animation: tongueVerticalAnim 300ms linear infinite;
}
.snake .head.bottom::before{
    height:5px;
    left:8px;
    top:0;
    border-left:3px solid #fff;
    border-bottom:2px solid transparent;
    animation: tongueVerticalAnim 300ms linear infinite;
}
@keyframes tongueVerticalAnim {
    0% {border-right-color:#fff;border-left-color:#fff;height:5px;}
    50% {border-right-color:#fff;border-left-color:#fff;height:0;}
    51% {border-right-color:transparent;border-left-color:transparent;}
    99% {border-right-color:transparent;border-left-color:transparent;height:0;}
    100% {border-right-color:#fff;border-left-color:#fff;height:5px;}
}
/* eye */
.snake .head::after{
    z-index: 1111;
    content: " ";
    display:block;
    position:absolute;
    width:3px;
    height:3px;
    background-color: green;
    border:1px solid #fff;
    border-radius: 50%;
}
.snake .head.left::after{
    top:2px;
    left:2px;
}
.snake .head.right::after{
    top:2px;
    right:2px;
}
.snake .head.top::after{
    top:2px;
    right:2px;
}
.snake .head.bottom::after{
    bottom:2px;
    left:2px;
}

.snake .body {
    position: absolute;
    /*box-sizing: border-box;*/
    background-color: #1c2949;
    margin-top:3px;
    margin-left:3px;
    width:14px;
    height:14px;
    border:0 solid #1c2949;
    border-radius:50%;
}
.snake .body.left{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 3px;
    margin-left: 0;
}
.snake .body.right{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 3px;
}
.snake .body.top{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width: 3px;
    margin-top: 0;
}
.snake .body.bottom{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-width: 3px;
}
.snake .body.top.left::before,
.snake .body.top.right::before,
.snake .body.bottom.left::before,
.snake .body.bottom.right::before{
    content: " ";
    z-index: 105;
    position:absolute;
}
.snake .body.top.left::before{
    top:-3px;
    left:-3px;
    border-bottom-right-radius: 50%;
    border-bottom:3px solid #fff;
    border-right:3px solid #fff;
}
.snake .body.top.right::before{
    top:-3px;
    right:-3px;
    border-bottom-left-radius: 50%;
    border-bottom:3px solid #fff;
    border-left:3px solid #fff;
}
.snake .body.bottom.left::before{
    bottom:-3px;
    left:-3px;
    border-top-right-radius: 50%;
    border-top:3px solid #fff;
    border-right:3px solid #fff;
}
.snake .body.bottom.right::before{
    bottom:-3px;
    right:-3px;
    border-top-left-radius: 50%;
    border-top:3px solid #fff;
    border-left:3px solid #fff;
}
.snake .tail{
    width:0;
    height:0;
}
.snake .tail::before{
    content: " ";
    display:block;
    position:absolute;
    top:0;
    left:0;
}
.snake .tail.left::before{
    width:10px;
    left:-3px;
    border-top:7px solid #1c2949;
    border-bottom:7px solid #1c2949;
    border-right:7px solid transparent;
}
.snake .tail.right::before{
    width:10px;
    border-top:7px solid #1c2949;
    border-bottom:7px solid #1c2949;
    border-left:7px solid transparent;
}
.snake .tail.top::before{
    top:-3px;
    height:10px;
    border-left:7px solid #1c2949;
    border-right:7px solid #1c2949;
    border-bottom:7px solid transparent;
}
.snake .tail.bottom::before{
    height:10px;
    border-left:7px solid #1c2949;
    border-right:7px solid #1c2949;
    border-top:7px solid transparent;
}
