.sprite .pause-icon{
    display: flex;
    flex-direction: row;
}
.sprite .pause-icon::before,
.sprite .pause-icon::after {
    content: " ";
    display: block;
    width:30px;
    height:100px;
    margin:10px;
    background-color:#000;
}
