@import "./common.module.sass"

.sprite
  background-color: transparent

.icon
  display: flex
  flex-direction: row

.icon::before,
.icon::after
  content: " "
  display: block
  width: 30px
  height: 100px
  margin: 10px
  background-color: #000

