@import "./common.module.sass"

.sprite
  background-color: transparent

.icon
  display: block
  box-sizing: border-box
  width: 70px
  margin: 10px
  border-top: 50px solid transparent
  border-left: 70px solid darkgreen
  border-bottom: 50px solid transparent

.gameScore
  position: absolute
  bottom: 0
  left: 0
  font-size: 8pt
