.sprite{
    z-index:3000;
    position:absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.sprite.fill{
    background-color: #1c2949;
}
.sprite.fill.opacity90{
    opacity: 0.9;
}
.sprite.disappear500{
    top:-10000px;
    bottom: initial;
    left: initial;
    right: initial;
    animation: 500ms disappear linear;
    opacity: 0;
}

@keyframes disappear {
    0%{opacity: 1;top:0;bottom:0;left:0;right:0;}
    100%{opacity:0;top:0;bottom:0;left:0;right:0;}
}

.sprite .title{
    text-align: center;
    color:#fff;
    font-size:20pt;
    margin:5px;
}

.sprite .tip{
    background-color: #fff;
    border:1px solid #ddd;
    border-radius: 5px;
    padding:5px;
}

.sprite .tip .button{
    background-color:#eee;
    border:1px solid #000;
    padding:0 5px;
}
