.screen .disappear-title{
    font-size:0;
    color:transparent;
    animation: game-over 3s linear;
    white-space: nowrap;
}
@keyframes game-over {
    0% {font-size:1pt;color:#fff;}
    60% {color:#fff;}
    99% {font-size:100pt;}
    100% {font-size:100pt;color:transparent;}
}
.screen .delay-score{
    position:absolute;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity: 1;
    animation: game-over-delay-score 4s linear;
}
@keyframes game-over-delay-score {
    0%{opacity: 0;}
    76%{opacity: 0}
    100%{opacity: 1}
}
